@section Header {
    <h1>Run With Friends</h1>
    <p>Ya know it's cool</p>
}

@section Body {
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="bundle">
                    <h2>Manage Your Routes</h2>
                    <p>Create, read, update, delete</p>
                    <a href="@Url.Action("Routes", "Maps")" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Go</a>
                </div>
            }
            else
            {
                <div class="bundle">
                    <h2>Join Today</h2>
                    <p>Join up bud.</p>
                    <a href="@Url.Action("Register", "SiteAccount")" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Register</a>
                </div>
            }
        </div>
    </div>
}
